#artist-screen{
    width:60% ;
    margin-right: 3%;
}

.artist-details{
    background-color: #1f1642;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height:56%;
    width:auto;
    margin-bottom: 10px;
}

.artist-details .artist-img{
    height:100% !important;
    width:60%;
    margin-right: 10px;
    position: relative;
}

.artist-details .artist-img::after{
    content: "";
    height:100%;
    width:100%;
    background-image: linear-gradient( rgba(255, 255, 255, 0) 50%, #1f1642 100%);
    z-index: 2;
    position: absolute;
    left: 0;
}

.artist-details .artist-img img{
    height:100%;
    width:100%;
}

.artist-details .intro{
    display: flex;
    justify-content: center;
    height:100%;
    width:100%;
}

.intro{
    display: flex;
    flex-flow: column nowrap;
    margin: 0px 20px;
    color:rgb(211, 195, 195);
}

.intro .head{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.intro .head .name{
    color: white;
    font-size: 1.8em;
    font-weight: bold;
}
.intro .head .followers{
    font-size: 0.8em;
    padding-top: 20px;
}

.intro .info{
    font-size: 0.8em;
}

.intro .links{
    width:50%;
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.intro .links button{
    height:auto;
    min-height: 50px;
    width:2.3in;
    font-size: 1em;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 0px 0px 2px black;
    outline: none;
    background-image: linear-gradient(90deg ,#2c3362, rgb(149, 2, 149));
}

.intro .links .follow{
    margin-top: 10px;
}

.intro .links .follow a{
    text-decoration: none;
    color:white;
}

.intro .tracks-info{
    font-size: 0.8em;
    padding-left: 5px;
}

.tracks{
    width:auto;
}

.tracks > div{
    display: flex;
    flex-flow: row nowrap;
    border-top: 15px solid #0c1027;
    background-color: #1f2438;
    padding:10px;
}

.tracks div div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: rgb(218, 197, 197)
}

.track-no{
    width:50px;
    padding-right: 10px;
    min-width: 30px;
}

.track-image {
    height:70px;
    width:75px;
    min-width: 70px;
}

.track-image img{
    height:100%;
    width: 100%;
}

.track-info{
    display: inline-block !important;
    line-height: 35px;
    padding-left: 20px;
}

.track-duration{
    flex-grow: 1;
    min-width: 80px;
}

.fvrt-track{
    width:80px;
}

.add-to-playlist{
    width:80px;
    margin-right: 20px;
}

/**********SIMILAR ARTISTS**********/

#similar-artists{
    width: 25%;
    margin-top: 1.8in;
    display: flex;
    flex-flow: column nowrap;
    vertical-align: top;
}

#similar-artists .heading{
    margin: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

.view-all{
    font-size: 0.6em;
    font-weight: lighter;
    position: absolute;
    right:105px;
    margin-top: 10px;
    opacity: 0.8;
}

#similar-artists-content{
    overflow-y: scroll;
    height:32vh;
    width:100%;
    max-width:100% !important;
    margin-top: 30px;
    display:flex;
    padding:0;
    padding-top: 10px;
    flex-flow:column nowrap;
}

#similar-artists-content::-webkit-scrollbar{
    display: none;
}

.similar-artists-item{
    width:100%;
    flex-grow: 1;
    height:40%;
    display: flex;
    margin-bottom: 30px;
    flex-flow: row nowrap;
}

.similar-artists-img{
    height:100%;
    width:30%;
    border-radius: 5px;
    margin-right: 20px;
}

.similar-artists-img img{
    border-radius: 8px;
    height:100%;
    width:100%;
}

.similar-artists-info{
    height:100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width:40%;
    margin-left: 5%;
}

.similar-artists-info span{
   font-size: 0.8em;
}

.similar-artists-icon{
    color: grey;
    width:20%;
    padding-left: 15%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.similar-artists-icon div:nth-child(2n){
    font-size: 0.8em;
}


/*********SIMILAR ARTISTS ENDS********/


/**********RECENTLY PLAYED*************/

#recently-played{
    margin-top: 30px;;
    width:100%;
    display: inline-block;
}

#recently-played .heading{
   margin-bottom: 50px;
}

#recently-played-content{
    height:20vh;
    overflow-y: scroll;
}

#recently-played-content::-webkit-scrollbar{
    display: none;
}

#recently-played-content table{
    width:100%;
    font-size: 0.8em;
    color:grey;
}

#recently-played-content table tr td{
    padding-bottom:25px;
}

.cover-no{
    width:10px;
}

.cover-img{
    max-width: 10px !important;
    padding-left: 20px;
    position: relative;
}

.cover-img::after{
    content:"";
    background-image: url('https://cdn2.iconfinder.com/data/icons/multimedia-glyph-black/2048/Play-512.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    height:70px;
    width:70px;
    margin-left: 20px;
    background-color: rgba(95, 98, 91, 0.452);
    z-index: 1;
    position: absolute;
    left: 0;
    display: none;
}

.cover-img:hover::after{
    display: inline-block;
}

.cover-img img{
    height:70px;
    width: 100%;
    vertical-align: middle;
    border-radius: 4px;
    box-shadow: 0px 0px 20px 4px rgba(255, 255, 255, 0.13);
}

.cover-name{
    padding-left: 20px;
}

.cover-name span{
     color:white;
     font-size: 1.2em;
     font-weight: bold;
 }

.cover-icon{
    text-align: center;
}

 .cover-icon span{
    font-size: 1.2em;
}
