
.artist-details{
    background-color: #1f1642;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height:70%;
    width:auto;
    margin-bottom: 10px;
}

.artist-details .img{
    height:100%;
    width:60%;
    margin-right: 10px;
    position: relative;
}

.artist-details .img::after{
    content: "";
    height:100%;
    width:100%;
    background-image: linear-gradient( rgba(255, 255, 255, 0) 50%, #1f1642 100%);
    z-index: 2;
    position: absolute;
    left: 0;
}


.artist-details .img img{
    height:100%;
    width:100%;
}


.artist-details .intro{
    height:70%;
    width:100%;
}

.intro{
    display: flex;
    flex-flow: column nowrap;
    margin: 0px 20px;
    color:rgb(211, 195, 195);
}

.intro .head{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.intro .head .name{
    color: white;
    font-size: 2em;
    font-weight: bold;
}
.intro .head .followers{
    font-size: 0.8em;
    padding-top: 20px;
}


.intro .info{
    font-size: 0.8em;
}


.intro .links{
    width:50%;
    margin-top: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.intro .links button{
    height:auto;
    min-height: 50px;
    width:2.3in;
    font-size: 1em;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 0px 0px 2px black;
    outline: none;
    background-image: linear-gradient(90deg ,#2c3362, rgb(149, 2, 149));
}

.intro .links .follow{
    margin-top: 10px;
}

.intro .links .follow a{
    text-decoration: none;
    color:white;
}

.intro .tracks-info{
    font-size: 0.8em;
    padding-left: 5px;
}

.tracks{
    width:auto;
}

.tracks > div{
    display: flex;
    flex-flow: row nowrap;
    border-top: 15px solid #0c1027;
    background-color: #1f2438;
    padding:10px;
}

.tracks div div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: rgb(218, 197, 197)
}

.track-no{
    width:50px;
    padding-right: 10px;
    min-width: 30px;
}

.track-image {
    height:70px;
    width:75px;
    min-width: 70px;
}

.track-image img{
    height:100%;
    width: 100%;
}

.track-info{
    display: inline-block !important;
    line-height: 35px;
    padding-left: 20px;
}

.track-duration{
    flex-grow: 1;
    min-width: 80px;
}

.fvrt-track{
    width:80px;
}

.add-to-playlist{
    width:80px;
    margin-right: 20px;
}

/**********SIMILAR ARTISTS**********/

#similar-artists{
    margin-top: 2in;
    height:52vh;
    width:30%;
    display: inline-block;
    vertical-align: top;
    border: 2px solid chartreuse;
}

#similar-artists div{
    border: 2px solid goldenrod;
}
#similar-artists 
