body{
    background-color: #0c1027;
    font-size: 1.5em;
    font-family: sans-serif;
    color:white;
    margin:0;
    scroll-behavior: smooth;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
}



/*****************NAVBAR************/

#navbar{
    position: fixed;
    top:0;
}


#navbar table{
    margin: 30px 50px 50px;
}

#player-logo{
    width: 100px;
}

#player-logo img{
    width:100px;
    height:100px;
    border-radius: 50%;
}

#player-name{
    width:77px;
    padding-left: 10px;
}

#playlist-name{
    padding-left: 1.5in;
    width:10%;
}

#search-bar{
    display: flex;
    justify-content: flex-end;
    width:100%;
    height: 40px;
    align-items: center;
    
}

#search-bar div{
    box-sizing: border-box;
    height:100%;
    background-color: #1f1642;
}

#search-bar div input{
    padding: 0;
    height: 100%;
    width:4in;
    border: none;
    font-size: 0.7em;
    padding-left: 10px;
    color:grey;
    background-color:  #1f1642;
}

#search-icon{
    border-radius: 5px 0 0 3px;
    
}


#voice-search{
    border-radius: 0 5px 4px 0;
    margin-right: 50px;
}

#search-bar div a i{
    padding: 10px 4px;
    font-size: 0.8em;
    color:grey;
    margin: 0 5px;
}

#search-icon  a i{
    color:white !important;
}


#notification{
    width:50px;
}

#notification-icon{
    margin-right: 45px;
    color:white;
    font-size: 1.3em;
}

#user-image{
    width:100px;
}

#user-image img{
    border-radius: 50%;
    width:100px;
}

/*****************NAVBAR ENDS************/

/*****************CAROUSEL**************/

main{
    margin-left: 1.4in;
    width:65%;
    display: inline-block;
    height:75vh;
    overflow-y: scroll;
    margin-top: 2in;
}

main::-webkit-scrollbar{
    display: none;
}

#carousel{
    margin-top: 40px;
    display: flex;
    flex-flow:row nowrap;
    justify-content: center;
    align-items: center;
    height: 35vh;
    max-width:90% !important;
}

.carousel-image{
    height:90%;
    margin: 0px 10px;
    width:85%;
    
}

.carousel-image img{
    height:100%;
    width:100%;
    border-radius: 5px;
    
}

.carousel-image:hover {
    position: relative;
    width:110%;
    height:110%;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 0.5px rgba(255, 255, 255, 0.507);
}

#img-1{
    transform: rotateY(20deg);
}

#img-3{
    transform: rotateY(-20deg);
}


/**********CAROUSEL ENDS************/

/**********LATEST RELEASE***********/

#latest-release{
    width: 90%;
    margin-top: 1.3in;
    height:auto;
    display: flex;
    flex-flow: column nowrap;
}


#release-head span{
    font-size: 1.5em;
    font-weight: bold;
}

#release-content{

    width:100%;
    height:75%;
    max-width:100% !important;
    display:flex;
    flex-flow:row wrap;
}


.release-item{

    width:40%;
    flex-grow: 1;
    height:50%;
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.release-img{

    height:100%;
    width:40%;
}


.release-img img{
    height:100%;
    width:100%;
}


.release-info{

    height:40%;
    width:40%;
    margin-left: 5%;
}

.release-info span{
   font-size: 1em;
}


.release-icon{
    color: grey;
    margin-bottom: 120px;
    width:20%;
    padding-left: 15%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}



.release-icon div:nth-child(2n){
    font-size: 0.8em;
}

/*********LATEST RELEASES ENDS********/

/*********POPULAR ARTISTS**********/

#popular-artists{
    width:100%;
    height:auto;
    display: flex;
    flex-flow: column nowrap;
}

#artist{
    display: flex;
    flex-flow: row nowrap;
}

#artist-head{
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

#artist div{
    width:20%;
}


#artist div img{
    border-radius: 50%;
    height:90%;
    width:90%;
    margin: 10px 10px;
}

#artist div div{
    text-align: center;
    width:95%;
    font-weight: bold;
}


/*********POPULAR ARTISTS ENDS******/

/*********STATIONS**********/

#stations{
    margin-top: 100px;
    width:100%;
    height:25vh;
    margin-bottom: 20px;
    overflow: visible;
    
}

#stations-list{
    width: 100%;
    height:100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    /* border: 2px solid cyan; */
}

#stations-list div{
    width: 100%;
    height:100%; 
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1642;
    border-radius: 10px;
    position: relative;

}


#stations-list div img{
    width: 80%;
    height:80%;
    border-radius: 50%;

}

#stations-list div span{
   position: absolute;
   font-weight: bold;
   text-shadow: 0px 0px 2px black;
}

#main-img img{
    height:100%;
    width:100%;
    border-radius: 10px !important;
    box-shadow: 0px 0px 20px 0.5px violet;
}


/*********STATIONS ENDS******/


/*********OCCASSION**********/

#occasion{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width:100%;
    height:30vh;
}

#occasion div{
    width:70%;
    height:80%;
    margin: 0 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#occasion div::after{
    content:"";
    height:100%;
    width:100%;
    z-index: 2;
    position: absolute;
}

#party::after{
    background: radial-gradient(rgba(255, 255, 255, 0.5) 10%, rgba(158, 160, 40, 0.5));
}

#electronics::after{
    background: radial-gradient(rgba(255, 255, 255, 0.5) 10%, rgba(2, 5, 15, 0.5));
}

#road-trip::after{
    background: radial-gradient(rgba(255, 255, 255, 0.5) 10%, rgba(165, 42, 42, 0.5));
}


#occasion div:nth-child(2n+1){
    margin: 0;

}

#occasion div img{
    height:100%;
    width:100%;
    transition: height 0.5s, width 0.5s;
}

#occasion div:hover img{
    height:130%;
    width:130%;
  
}

#occasion div span{
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    text-shadow: 0px 0px 2px black;
    z-index: 3;
}

/*********OCCASION ENDS*******/

/**********LATEST RELEASES******/


.latest-item{
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    align-items: center;
    line-height: 1em;

}


.latest-item div{
   height:70%;
   width:18%;
  
}


.latest-item div img{
    height:100%;
    width:100%;
    border-radius: 3px;
}

.latest-item div span{
    font-size: 0.6em;
    color:grey;
}

.latest-item div span b{
    font-size: 1.2rem;
    color:white;
    
}


/**********PLAYLIST*************/

#playlist{
    /* border: 2px solid black; */
    width:20%;
    margin-left: 30px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    
}

#queue{
    width:100%;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    margin-top: 2in;
}

#queue #heading{
    color:white;
    font-size: 1.5em;
    font-weight: bolder;
}

#queue #dropdown{
    color:cyan;
    padding-top: 12px;
    width:60% !important;
    margin: 0px;
    text-align: right;
    font-size: 1em;
    font-weight: lighter;
   

}

#queue #dropdown-icon{
    color:cyan;
    padding-top: 10px;
    padding-left: 20px;
    position: relative;
}

#queue #dropdown-icon span i{
    font-size:0.4em;
    
} 

#dropdown-menu{
    height:auto;
    width:1000%;
    background-color: rgb(236, 234, 234);
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    left:-250px;
    top:50px;
    display: none;
}

#dropdown-menu div{
    padding-left: 10px;
    margin-top: 10px;
    height:40px;
    color: black;
    width:70%;
    display: flex;
    flex-flow: row;
    padding:10px
}

#break{
    height:0 !important;
    width:90% !important;
    padding:0 !important;
    margin: 0 !important;
    border: 1px solid rgb(155, 148, 148);
}

#queue #dropdown-icon:hover #dropdown-menu{
    display: flex;
    cursor: pointer;
}


#playlist-content{
    height:75vh;
    overflow-y: scroll;
}

#playlist-content::-webkit-scrollbar{
    display: none;
}


#playlist-content table{
    width:100%;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 0.8em;
    color:grey;
}

#playlist-content table tr td{
    padding-bottom:25px;
}

#cover-no{
    width:10px;
}

 #cover-img{
    width:120px !important;
    padding-left: 10px;
}

#cover-img img{
    height:70px;
    vertical-align: middle;
    border-radius: 4px;
    /* box-shadow: 0px 0px 80px 0.5px rgba(255,255,255,0.5); */
}

#cover-name{
    padding-left: 15px;
}
 #cover-name span{
     color:white;
     font-size: 1.2em;
     font-weight: bold;
 }

 #cover-icon span{
    font-size: 1.2em;
}
















/*********PLAYLIST ENDS**********/

/**********PLAYER***************/

#player{
    border: 2px solid black;
    height:12vh;
    width: 100%;
    position: fixed;
    bottom:0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}


#dashboard{
    height:80%;
    border: 2px solid black;
    width: 80%;
    align-self: center;
}

#dashboard table{
    height: 100%;
    width: 100%;
    table-layout: fixed;
   
}


#dashboard table tr{
    height: 100%;
    width:100%;
}



#dashboard-image{
    padding:0;
    width:80px;
    height: 80px;
}

#dashboard-image img{
    height:100%;
    vertical-align: top;
}

